{% extends 'base.html' %}
{% block title %}
Update Income
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md">
        <form action="" method="post">
            {% csrf_token %}
            <h3 class="my-3">Update Income</h3>

            {% if user.is_superuser %}
            <div class="form-group">
                <label for="member">Select member: </label>
                <select class="form-control form-control-sm border" name="member" id="member" required>
                    <option value="" disabled>Choose member</option>
                    {% for member in members %}
                    <option value="{{ member.id }}">{{ member.first_name }} {{ member.last_name }}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}

            <div class="form-group">
                <label for="income_date">Date</label>
                <input type="date" class="form-control border" name="date" id="income_date" required>
            </div>

            <div class="form-group">
                <label for="income_amount">Income Amount</label>
                <input type="number" class="form-control border" name="income_amount" id="income_amount"
                    value="{{ income.amount }}">
            </div>

            <input type="submit" value="Update" class="btn btn-success">
        </form>
    </div>

    <script>
        document.getElementById("income_date").value = "{{ income.date|date:'Y-m-d' }}";
        {% if user.is_superuser %}
        document.getElementById("member").value = "{{ income.user.id }}";
        {% endif %}
    </script>
</div>
{% endblock %}
